* {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    background-color: #F5F5F5
}

@media screen and (max-width: 640px) {
    * {
        margin: 0 !important;
        padding: 0 !important;
    }

    html {
        background-color: #F5F5F5
    }
}